.movie-view{
	display: flex;
	flex-wrap: wrap;
  }
  
  h1{
	color: yellow;  
	text-decoration: none;
	padding: 1rem;
	border-style: solid;
  }
  
  main{
	max-width: 100%;
  }
  
  .movie-card{
	width: calc(33.33% - 3rem);
	margin: 1.5rem;
	
  }
  
  body{
	background-color: black;
  }
  h3, p{
	color: yellow;
  }
  
  .link{
	text-decoration: none;
	border-style: solid;
	color: black;
	background-color: yellow;
  }
  
  header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #202020; 
  }
  
  #logo {
	font-weight: bold;
	font-size: 1.5rem;
	color: black;
	background-color: yellow; 
	border-radius: 0.5rem;
	margin-left: 1.5rem;
  }
  
  input {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	height: 50px;
	border-radius: 0.5rem;
	border: none;
  }
  
  .movie-card img {
	width: 75%;
  }
  